name: Test Orchestrator

on:
  workflow_dispatch: {}

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Unit Testing Repository
        uses: actions/checkout@v4
        with:
          repository: JeffCompasClassrooms/testing-units-f25-jsnowpiano
          path: unit-tests

      - name: Set up Python for Unit Tests
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Unit Test Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage

      - name: Run Unit Tests
        run: |
          cd unit-tests
          python -m unittest test_circle.py
          python -m unittest test_warhammer_battle.py
          coverage run -m unittest discover
          coverage report

  test-system:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout System Testing Repository
        uses: actions/checkout@v4
        with:
          repository: JeffCompasClassrooms/testing-systems-jsnowpiano
          path: system-tests

      - name: Set up Python for System Tests
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Test Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-describe

      - name: Run System Tests
        run: |
          cd system-tests
          pytest test_mydb.py -v
          python squirrel_server.py &
          sleep 2
          pytest test_squirrel_server.py -v

  test-behave:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Behave Testing Repository
        uses: actions/checkout@v4
        with:
          repository: JeffCompasClassrooms/testing-with-behave-jsnowpiano
          path: behave-tests

      - name: Set up Python for Behave Tests
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Behave Test Dependencies
        run: |
          python -m pip install --upgrade pip
          cd behave-tests
          pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run Behave Tests
        run: |
          cd behave-tests/Vasionknowlegebase
          python -m behave
